/* ********************************************************** */
/* BELOW 1344PX (SMALLER DESKTOP) */
/* ********************************************************* */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ********************************************************** */
/* BELOW 1200PX (LANDSCAPE TABLETS)*/
/* ********************************************************* */

@media (max-width: 84em) {
  html {
    /* 9px / 16px*/
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9rem 3.2rem;
  }
}

/* ********************************************************** */
/* BELOW 944PX (TABLETS)*/
/* ********************************************************* */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 0.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logo img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }
}
